.detail {
    border: initial;
    width: 80%;
    height: auto;
    margin: 15px 0px 0px 200px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 2px 15px 0px rgb(195, 194, 194);
    background-color: rgb(255, 253, 132);
    opacity: .9;
    backdrop-filter: blur(200px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

.title{
    font-size: 40px;
    background-color: transparent;
    color: #f4a927;
}

.summary{
    box-shadow: #f4a927;
    font-size: 30px;    
    color: black;
    align-content: flex-end; 
    
  }

.image{
    border-radius: 20px;
    
}

.divContainer{
    box-sizing: border-box;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: space-around;
  }
  .steps{
    box-sizing: border-box;
    font-size: 20px;
    color: black;
    display: flex;
 
  }